/* Structural elements */
body {
    font-family: $mainFont;
}

.glyphicon {
    margin: 0.3em;
    font-size: 1.75em;
}
    
#stars-frame {
    margin: 0.3em;
    font-size: 1.75em;
}


#button-frame {
    width: 20%;
    float: left;
    text-align: center;
}

.number, #answer-frame .well span {
	display: inline-block;
	margin: 0.5em;
	backgound-color: #bbb;
	width: 30px;
	text-align: center;
	font-size: 22px;
	border-radius: 50%;
}

#numbers-frame .selected-true {
    backgound-color: #e8e8e8;
    color: #ddd;
    cursor: not-allowed;
}
