/* Structural elements */
body {
    font-family: $mainFont;
}

.Page-wrapper {
    width: 800px;
    margin: auto;
}

section {
    width: 500px;
    margin-right: 20px;
}

aside {
    width: 280px;
}

/* Accordion */
.Accordion {

    & dt.Accordion-header {
        background-color: $lightGrey;
        margin-bottom: 20px;
        cursor: pointer;
    }

    & dd.Accordion-content {
        background-color: $bgGrey;
    }

    & dd.Accordion-content.is-open {
        display: block;
    }

    & dd.Accordion-content.is-close {
        display: none;
    }
}

/* Utilities */
.u-floatLeft {
    float: left;
}

.u-error {
    color: $redError;
}
