/* Structural elements */
body {
    font-family: $mainFont;
}

#stars-frame .glyphicon {
    margin: 0.3em;
    font-size: 1.75em;
}
    
#stars-frame #stars-frame {
    margin: 0.3em;
    font-size: 1.75em;
}


#button-frame {
    width: 20%;
    float: left;
    text-align: center;
}

#numbers-frame .number {
	display: inline-block;
	margin: 0.5em;
	backgound-color: #bbb;
	width: 30px;
	text-align: center;
	font-size: 22px;
	border-radius: 50%;
}
